<html>
  <head>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="//cdn.split.io/sdk/split-10.15.9.min.js"></script>
    <style>
      .done {
        text-decoration: line-through;
      }
    </style>
    <title>Sample Todo List</title>
  </head>
  <body>
    <div id="todo-app">
      <ul>
        <todo-item
          v-for="item in todoList"
          v-bind:todo="item"
        ></todo-item>
      </ul>
      <form @submit="addTodo">
        <input type="text" placeholder="Add todo" v-model="newItem" />
        <input type="submit" name="Add" value="Add" />
      </form>
    </div>

    <script>
      const TodoList = {
        data() {
          return {
            todoList: []
          }
        },
        methods: {
          addTodo(event) {
            this.todoList.push({ text: this.newItem, isDone: false })
            this.newItem = ''

            event.preventDefault()
            return false
          }
        }
      }

      const app = Vue.createApp(TodoList)

      app.component('todo-item', {
        props: ['todo'],
        template: `
          <li>
            <input type="checkbox" v-model="todo.isDone" />
            <label :class="{ done: todo.isDone}">{{ todo.text }}</label>
          </li>
        `
      })

      vm = app.mount('#todo-app')
    </script>
    <script>
      try {
        // Instantiate the SDK. CDN will expose splitio globally
        var factory = splitio({
          core: {
            authorizationKey: 'mqoljmh2jr42cesq1ma3ogsa6fc71dj5h6s2',
            // your internal user id, or the account id that
            // the user belongs to.
            // This coudld also be a cookie you generate
            // for anonymous users
            key: 'me',
          }
        });
        // And get the client instance you'll use
        var client = factory.client();
      } catch (error) {
        console.error(error)
      }

      var treatment = client.getTreatment('SPL-TODO_Done');
      if (treatment === 'on') {
          console.log('on')
      } else if (treatment === 'off') {
          console.log('off')
      } else {
          console.log(treatment)
      }
    </script>
  </body>
</html>